/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#home img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px;
}

#about {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}

#about h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#about p {
    font-size: 1.1em;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-card {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.project-card h3 {
    margin-top: 10px;
    text-align: center;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-modal, .btn-close-modal {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-modal:hover, .btn-close-modal:hover {
    background-color: #444;
}

#contact {
    padding: 40px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 400px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #333;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007bff;
}
